@{
    ViewBag.Title = "Trang chủ";
    DoctorSkin.Models.DoctorSkinEntities db = new DoctorSkin.Models.DoctorSkinEntities();

    var banners = db.Banners.ToList();
}
<link href="~/Content/assets/css/chat.css" rel="stylesheet" />

<style>
    .card_home-title {
        height: 100px;
    }

    .card-dd {
        height: 350px;
    }
</style>


@Html.Action("slideBanner", "Default", new { page = "homepage" })

<section>
</section>


<!-- Start Promo section -->
<section id="aa-promo">
    <div style="padding: 2rem 15%">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="card-dd" style="border-radius:6px;padding:25px;box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                    <div style="width: 90px;
          height: 90px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #e0eff6;
          margin: 0 auto;
          margin-bottom: 0;">
                        <img style="margin: 0 auto;"
                             src="https://o2skin.cdn.vccloud.vn/wp-content/uploads/2021/10/Asset-3.png" />
                    </div>
                    <div class="card_home">
                        <div class="card_home-title">
                            <p style="text-align: center; font-weight: 700; font-size: 30px;">LUÔN TRUNG THỰC</p>
                        </div>
                        <div class="card_home-content">
                            <p style="text-align: justify;">
                                Trung thực là giá trị cốt lõi hàng đầu của O2 SKIN. O2 SKIN cam kết luôn
                                tư vấn trung thực về hiệu quả điều trị và chỉ tư vấn sản phẩm thực sự cần thiết cho khách hàng.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card-dd" style="border-radius:6px;padding:25px;box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                    <div style="width: 90px;
          height: 90px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #e0eff6;
          margin: 0 auto;
          margin-bottom: 0;">
                        <img style="margin: 0 auto;"
                             src="https://o2skin.cdn.vccloud.vn/wp-content/uploads/2021/10/Asset-2.png" />
                    </div>
                    <div class="card_home">
                        <div class="card_home-title">
                            <p style="text-align: center; font-weight: 700; font-size: 30px;">CHUẨN Y KHOA</p>
                        </div>
                        <div class="card_home-content">
                            <p style="text-align: justify;">
                                Để đạt hiệu quả điều trị cao & an toàn cho da, tất cả các phương pháp và sản phẩm trị mụn được chọn lựa sử dụng tại O2 SKIN đều có căn cứ y học và bằng chứng lâm sàng…
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="card-dd" style="border-radius:6px;padding:25px;box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">
                    <div style="width: 90px;
          height: 90px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #e0eff6;
          margin: 0 auto;
          margin-bottom: 0;">
                        <img style="margin: 0 auto;"
                             src="https://o2skin.cdn.vccloud.vn/wp-content/uploads/2021/10/Asset-4.png" />
                    </div>
                    <div class="card_home">
                        <div class="card_home-title">
                            <p style="text-align: center; font-weight: 700; font-size: 30px;">LIÊN TỤC CẢI TIẾN</p>
                        </div>
                        <div class="card_home-content">
                            <p style="text-align: justify;">
                                O2 SKIN trân trọng mỗi góp ý của khách hàng và cải tiến mỗi ngày để mang đến chất lượng dịch vụ ngày càng tốt hơn nữa…
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- popular section -->
<section id="aa-popular-category">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-popular-category-area">
                        <!-- start prduct navigation -->
                        <ul class="nav nav-tabs aa-products-tab">
                            <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
                            <li><a href="#featured" data-toggle="tab">Featured</a></li>
                            <li><a href="#latest" data-toggle="tab">Latest</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Start men popular category -->
                            <div class="tab-pane fade in active" id="popular">
                                <ul class="aa-product-catg aa-popular-slider">
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-2.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sale" href="#">SALE!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-2.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                <span class="aa-product-price">$45.50</span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/t-shirt-1.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                        </figure>
                                        <figcaption>
                                            <h4 class="aa-product-title"><a href="#">T-Shirt</a></h4>
                                            <span class="aa-product-price">$45.50</span>
                                        </figcaption>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-3.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-1.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-4.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-hot" href="#">HOT!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-4.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-hot" href="#">HOT!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-1.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sale" href="#">SALE!</span>
                                    </li>
                                </ul>
                                <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                            </div>
                            <!-- / popular product category -->
                            <!-- start featured product category -->
                            <div class="tab-pane fade" id="featured">
                                <ul class="aa-product-catg aa-featured-slider">
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-2.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sale" href="#">SALE!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-2.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                <span class="aa-product-price">$45.50</span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/t-shirt-1.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                        </figure>
                                        <figcaption>
                                            <h4 class="aa-product-title"><a href="#">T-Shirt</a></h4>
                                            <span class="aa-product-price">$45.50</span>
                                        </figcaption>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-3.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-1.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-4.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-hot" href="#">HOT!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-4.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-hot" href="#">HOT!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-1.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sale" href="#">SALE!</span>
                                    </li>
                                </ul>
                                <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                            </div>
                            <!-- / featured product category -->
                            <!-- start latest product category -->
                            <div class="tab-pane fade" id="latest">
                                <ul class="aa-product-catg aa-latest-slider">
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-2.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sale" href="#">SALE!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-2.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                <span class="aa-product-price">$45.50</span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/t-shirt-1.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                        </figure>
                                        <figcaption>
                                            <h4 class="aa-product-title"><a href="#">T-Shirt</a></h4>
                                            <span class="aa-product-price">$45.50</span>
                                        </figcaption>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-3.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-1.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-4.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-hot" href="#">HOT!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/man/polo-shirt-4.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-hot" href="#">HOT!</span>
                                    </li>
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="#"><img src="img/women/girl-1.png" alt="polo shirt img"></a>
                                            <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                                                <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                                                <span class="fa fa-heart-o"></span>
                                            </a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare">
                                                <span class="fa fa-exchange"></span>
                                            </a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal"
                                               data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                        <span class="aa-badge aa-sale" href="#">SALE!</span>
                                    </li>
                                </ul>
                                <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                            </div>
                            <!-- / latest product category -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / popular section -->
<!-- Support section -->
<section id="aa-support" style="background-color:white !important">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div>
                    <img src="https://o2skin.cdn.vccloud.vn/wp-content/uploads/2021/10/s3-tim.png" alt="Phòng khám chuyên trị mụn chuẩn y khoa" style="width:100%" />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="aa-support-area">
                    <p style="font-weight:bold;font-size:32px">O2 SKIN - Hệ Thống Phòng Khám Chuyên Trị Mụn dẫn đầu từ năm 2015</p>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <p style="color: #3467ef !important;font-size:50px;font-weight:bold">20+</p>
                            <p style="color: #3467ef !important;font-size:20px;font-weight:bold">Bác sĩ chuyên khoa da liễu</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single" style="color: #3467ef">
                            <p style="color: #3467ef !important;font-size:50px;font-weight:bold">30+</p>
                            <p style="color: #3467ef !important;font-size:20px;font-weight:bold">Dược sĩ tư vấn</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single" style="color: #3467ef">
                            <p style="color: #3467ef !important;font-size:50px;font-weight:bold">200+</p>
                            <p style="color: #3467ef !important;font-size:20px;font-weight:bold">Điều dưỡng chăm sóc da</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BÁC SĨ -->
<section id="aa-banner" style="margin-top:40px;
padding-bottom: 10% !important;
background-image: url(https://o2skin.cdn.vccloud.vn/wp-content/uploads/2022/01/home-gap-go-bac-si-bg.png?id=6177) !important;
background-position: center !important; background-repeat: no-repeat !important;
background-size: cover !important;">
    <div style="padding: 2rem 9%;margin: 20px 0px;" class="block-doctor">
        <div class="row" style="">
            <div class="col-md-6">
                <div>
                    <h3 style="font-size: 28px;font-weight: 700;">Tổng quan về phòng khám chuyên khoa Da liễu O2 SKIN</h3>
                    <div>
                        <img style="width: 100%;"
                             src="https://o2skin.cdn.vccloud.vn/wp-content/uploads/2021/10/tong-quan-phong-kham-da-lieu-o2skin.jpg"
                             alt="">
                        <p style="font-size: 18px;text-align: justify;">
                            Với kinh nghiệm dày dặn trong lĩnh vực Da liễu và điều trị
                            mụn chuyên sâu cùng sự thân thiện với khách
                            hàng, Đội ngũ hơn 20 Bác sĩ Da liễu tại O2 SKIN luôn nhận được rất nhiều sự yêu mến từ các bạn trẻ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div style="margin-top: 20%">
                    <p style="color: #2260d6;font-size: 24px;font-weight: 700;">Gặp gỡ bác đội ngũ Bác sĩ Da liễu O2 SKIN</p>
                    <div class="row">
                        @{ Html.RenderAction("getDoctor", "Home");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- / Support section -->
<!-- Testimonial -->
<section id="aa-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-testimonial-area">
                    <ul class="aa-testimonial-slider">
                        <!-- single slide -->
                        <li>
                            <div class="aa-testimonial-single">
                                <img class="aa-testimonial-img" src="img/testimonial-img-2.jpg" alt="testimonial img">
                                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere,
                                    quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.
                                </p>
                                <div class="aa-testimonial-info">
                                    <p>Allison</p>
                                    <span>Designer</span>
                                    <a href="#">Dribble.com</a>
                                </div>
                            </div>
                        </li>
                        <!-- single slide -->
                        <li>
                            <div class="aa-testimonial-single">
                                <img class="aa-testimonial-img" src="img/testimonial-img-1.jpg" alt="testimonial img">
                                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere,
                                    quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.
                                </p>
                                <div class="aa-testimonial-info">
                                    <p>KEVIN MEYER</p>
                                    <span>CEO</span>
                                    <a href="#">Alphabet</a>
                                </div>
                            </div>
                        </li>
                        <!-- single slide -->
                        <li>
                            <div class="aa-testimonial-single">
                                <img class="aa-testimonial-img" src="img/testimonial-img-3.jpg" alt="testimonial img">
                                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt distinctio omnis possimus, facere,
                                    quidem qui!consectetur adipisicing elit. Sunt distinctio omnis possimus, facere, quidem qui.
                                </p>
                                <div class="aa-testimonial-info">
                                    <p>Luner</p>
                                    <span>COO</span>
                                    <a href="#">Kinatic Solution</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Testimonial -->
<!-- Latest Blog -->
<section id="aa-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-latest-blog-area">
                    <h2>Kiến thức trị mụn dành cho bạn</h2>
                    <div class="row">
                        @{Html.RenderAction("getBlog", "Home");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Latest Blog -->
<!-- Client Brand -->
<section id="aa-client-brand" style="background-color:white !important">
    <div class="container">
        <div style="display:flex;flex-direction:column;align-items:center">
            <p style="font-size:28px;font-weight:700">Truyền thông nói về O2 SKIN?</p>
            <p style="font-size:18px;width:50%;text-align:justify">O2 SKIN được vinh dự nhắc đến trên nhiều tờ báo, đài truyền hình uy tín với các chủ đề chia sẻ kiến thức trị mụn chuẩn y khoa, câu chuyện của nhiều bạn trẻ đã lấy lại tự tin và hạnh phúc sau hành trình điều trị mụn thành công tại O2 SKIN.</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="aa-client-brand-area">
                    <ul class="aa-client-brand-slider">
                        @{ Html.RenderAction("getMedia", "Home");}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Client Brand -->
<!-- Subscribe section -->
<section id="aa-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div>
                        <img src="https://o2skin.cdn.vccloud.vn/wp-content/uploads/2021/10/bg-png-form-sub.png" />
                    </div>
                    <div>
                        <p style="font-weight:700;font-size:16px">Phòng khám chuyên khoa da liễu O2 SKIN</p>
                    </div>
                    <div style="display:flex;align-items:center">
                        <img style="width:20px" src="https://o2skin.cdn.vccloud.vn/wp-content/uploads/2021/10/Asset-109.svg" />
                        <p style="margin-bottom:0px;margin-left:4px">Hotline đặt hẹn: 1900 3147</p>
                    </div>
                    <div style="display:flex;align-items:center">
                        <img style="width:20px" src="https://o2skin.cdn.vccloud.vn/wp-content/uploads/2021/10/Asset-119.svg" />
                        <p style="margin-bottom:0px;margin-left:4px">Thứ 2 - 6: 13:00 - 18:30 | Thứ 7 và Chủ nhật: 08:00 - 18:30</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="" style="display:flex;align-items:center;flex-direction:column">
                    <h2 style="font-weight:700">Đăng ký tư vấn với Bác sĩ</h2>
                    <form action="" class="" style="width:100%">
                        <div class="form-group">
                            <input style="width: 100%; padding: 10px; border-radius: 6px; border: none; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;" required type="text class="form-control" placeholder="Họ và tên" name="">
                        </div>
                        <div class="form-group">
                            <input style="width: 100%; padding: 10px; border-radius: 6px; border: none; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;" required type="text class="form-control" placeholder="Email của bạn" name="">
                        </div>
                        <div class="form-group">
                            <input style="width: 100%; padding: 10px; border-radius: 6px; border: none; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;" required type="text class="form-control" placeholder="Số điện thoại" pattern="[0-9]{10}" name="">
                        </div>
                        <button type="submit" style="background-image: linear-gradient(to right,#20bded,#11c595);border:none;padding:15px;border-radius:6px;width:40%;color:white;font-size:20px;font-weight:700">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Subscribe section -->


<div class="chatboxdiv">
    <img class="chatboxdiv-img" src="~/Content/assets/img/chatbox.svg" />
</div>
<div class="chat-content-div">
    <div class="chat-content-div-main">
        <div class="chatheader">
            <div class="chatheader-logo">
                @*<div>
                        <img style="width: 36px;border-radius: 50%" src="/image/logochat.png" />
                    </div>*@
                <div style="font-size: 16px;font-weight: 700;color: white;margin-left: 6px">O2 SKIN</div>
            </div>
            <div style="color: white;font-size: 20px" onclick="closemess()" class="close-mess">x</div>
        </div>
        <div class="main-message-div">
            <div class="main-message">
                <!--                        <p class="mess-send">Tôi</p>-->
                <!--                        <p class="mess-send">Tôi</p>-->
                <!--                        <p class="mess-to">Nhân viên chúng tôi sẽ phản hồi cho quý khách trong thời gian sớm nhất!</p>-->
            </div>
            <div class="emojiListdiv">
                <ul id="emojiList" class="emoji-list">
                </ul>
            </div>
        </div>
        <div class="chat-form-div">
            <div class="chat-form-div-footer">
                <div>
                    <input class="form-control" id="inputquestion" style="width: 80%;line-height: 35px;font-size: 16px; background-color: #F0F0F0;color: #4b4b4b" placeholder="Nhập tin nhắn" type="text" />
                </div>
                <div style="width: 20%;" class="chaticon">
                    <i class="fa fa-smile-o" style="font-size: 22px" aria-hidden="true"></i>
                    <i class="fa fa-paper-plane ml-2" id="iconsend" onclick="clicktosend('@Session["iduser"]')" style="font-size: 22px"></i>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/chat.js"></script>