@{
    DoctorSkin.Models.DoctorSkinEntities db = new DoctorSkin.Models.DoctorSkinEntities();

    var banners = db.Banners.ToList();
}
<link href="~/Content/assets/css/nouislider.css" rel="stylesheet" />
<style>
    .active-brand {
        color: blue;
    }

    .seq {
        height: 550px !important
    }
</style>
<!-- catg header banner section -->
<!--<section id="aa-catg-head-banner">
    <img src="https://i.pinimg.com/originals/8d/8b/62/8d8b624ca6ff542c127264c9636cab3c.png" style="width:100%;object-fit:cover" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <ol class="breadcrumb">
                    <li>-->
@*<a href="index.html">Home</a>*@<!--</li>-->
@*<li class="active">@ViewBag.title</li>*@
<!--</ol>
            </div>
        </div>
    </div>
</section>-->

@Html.Action("slideBanner", "Default", new { page = "productpage" })

<!-- / catg header banner section -->
<!-- product category -->
<section id="aa-product-category">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                @{ Html.RenderAction("getAllProductView", "Products");}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                <aside class="aa-sidebar">
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Sản phẩm khác</h3>
                        <ul class="aa-catg-nav">
                            @{ Html.RenderAction("getCat", "Products");}
                        </ul>
                    </div>
                    <!-- single sidebar -->
                    @*<div class="aa-sidebar-widget">
                            <h3>Tags</h3>
                            <div class="tag-cloud">
                                <a href="#">Fashion</a>
                                <a href="#">Ecommerce</a>
                                <a href="#">Shop</a>
                                <a href="#">Hand Bag</a>
                                <a href="#">Laptop</a>
                                <a href="#">Head Phone</a>
                                <a href="#">Pen Drive</a>
                            </div>
                        </div>*@
                    <!-- single sidebar -->
                    <!--<div class="aa-sidebar-widget">
                        <h3>Sản phẩm theo giá</h3>-->
                    <!-- price range -->
                    <!--<div class="aa-sidebar-price-range">
                            <form action="">
                                <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                                </div>
                                <span id="skip-value-lower" class="example-val">30.00</span>
                                <span id="skip-value-upper" class="example-val">100.00</span>
                                <button class="aa-filter-btn" type="submit">Filter</button>
                            </form>
                        </div>

                    </div>-->
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Thương hiệu</h3>
                        <div class="aa-color-tag">
                            @*<a class="aa-color-green" href="#"></a>
                                <a class="aa-color-yellow" href="#"></a>
                                <a class="aa-color-pink" href="#"></a>
                                <a class="aa-color-purple" href="#"></a>
                                <a class="aa-color-blue" href="#"></a>
                                <a class="aa-color-orange" href="#"></a>
                                <a class="aa-color-gray" href="#"></a>
                                <a class="aa-color-black" href="#"></a>
                                <a class="aa-color-white" href="#"></a>
                                <a class="aa-color-cyan" href="#"></a>
                                <a class="aa-color-olive" href="#"></a>
                                <a class="aa-color-orchid" href="#"></a>*@
                            @{ Html.RenderAction("getRandomBrand", "Default");}
                        </div>
                    </div>
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Sản phẩm giảm giá</h3>
                        <div class="aa-recently-views">
                            <ul>
                                @{ Html.RenderAction("getListProductSale", "Default");}
                            </ul>
                        </div>
                    </div>
                    <!-- single sidebar -->
                    <div class="aa-sidebar-widget">
                        <h3>Top san phẩm ưu thích</h3>
                        <div class="aa-recently-views">
                            <ul>
                                @{ Html.RenderAction("getListProductTopRate", "Default");}
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</section>

<div id="loading">
    <img src="~/Content/assets/img/loading.svg" />
</div>

<!-- / Subscribe section -->
<link href="~/Content/assets/css/nouislider.css" rel="stylesheet" />
<script src="~/Scripts/js/nouislider.js"></script>
<script src="~/Scripts/js/custom.js"></script>
<script src="~/Scripts/js/loading.js"></script>

<script type="text/javascript">
    function handleSelect(elm) {
        window.location = "?sortOrder=" + elm.value;
    }

    let url = window.location.pathname
    const myOpts = Array.from(document.querySelectorAll('.choose-brand'));
    myOpts.map(ele => {
        if (ele.getAttribute('href') == url)
            ele.classList.add('active-brand');
    });
</script>