 <section id="cart-view">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
           <div class="cart-view-area">
               <div style="margin-bottom:15px">
                   <div class="row" style="background-color: #F5F5F5">
                       <div class="col-md-6">
                           <p>Sản phẩm</p>
                       </div>
                       <div class="col-md-2">
                           <p>Đơn giá</p>
                       </div>
                       <div class="col-md-1">
                           <p>Số lượng</p>
                       </div>
                       <div class="col-md-2">
                           <p>Thành tiền</p>
                       </div>
                       <div class="col-md-1">
                           <p>Thao tác</p>
                       </div>
                   </div>
               </div>
               <div class="cart-view-table">
                   <div id="table-data-cart">
                   </div>
                   <!-- Cart Total view -->
                   <div class="cart-view-total">
                       <h4>Cart Totals</h4>
                       <table class="aa-totals-table">
                           <tbody>
                               <tr>
                                   <th>Subtotal</th>
                                   <td>$450</td>
                               </tr>
                               <tr>
                                   <th>Total</th>
                                   <td>$450</td>
                               </tr>
                           </tbody>
                       </table>
                       <a href="#" class="aa-cart-view-btn">Proced to Checkout</a>
                   </div>
               </div>
           </div>
       </div>
     </div>
   </div>
 </section>