
@model DoctorSkin.Models.Users
<style>
    .active {
        background-color: #ebe6e6;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<link href="~/Content/assets/css/profile.css" rel="stylesheet" />
<link href="~/Content/assets/css/index.css" rel="stylesheet" />

<section id="aa-promo">
    <div class="main">
        <div class="row">
            @{Html.RenderPartial("_NavbarProfile");}
            <div class="col-md-8">
                <div class="tab-log" style="padding: 0;width:100%">
                    <div>
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-choxacnhan-tab" data-toggle="tab"
                                   href="#choxacnhan" role="tab" aria-controls="choxacnhan" aria-selected="true"
                                   style="font-size: 16px; ">Chờ xác nhận</a>
                                <a class="nav-item nav-link" id="daxacnhan" data-toggle="tab" href="#nav-daxacnhan"
                                   role="tab" aria-controls="nav-daxacnhan" aria-selected="false"
                                   style="font-size: 16px; ">Đã xác nhận</a>
                                <a class="nav-item nav-link" id="nav-hoanthanh-tab" data-toggle="tab"
                                   href="#nav-hoanthanh" role="tab" aria-controls="nav-hoanthanh" aria-selected="false"
                                   style="font-size: 16px; ">Thành công</a>
                                <a class="nav-item nav-link" id="nav-huy-tab" data-toggle="tab" href="#nav-huy"
                                   role="tab" aria-controls="nav-huy" aria-selected="false"
                                   style="font-size: 16px; ">Hủy phòng</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="choxacnhan" role="tabpanel" aria-labelledby="nav-choxacnhan-tab">
                                <div class="list-hotel">
                                    <div class="lht-item" namePlace="${ele.id}">
                                        <div class="lht-main">
                                            <div class="lht-img">
                                                <div class="lht-img-img"
                                                     style="background-image:url('https://cdn1.ivivu.com/iVivu/2022/06/06/09/tong-quan-1647456488-1647879453-cr-374x280.png')"></div>
                                            </div>
                                            <div class="lht-content">
                                                <p class="lht-name">Tên khách sạn</p>
                                                <div class="lht-content_rate">
                                                    <div class="lht-content_rate_star">

                                                    </div>

                                                    <div class="lht-content_rate_mark">
                                                        <p style="margin-right: 5px">Tên phòng</p>
                                                    </div>
                                                </div>
                                                <div class="lht-direct">
                                                    <a href="">
                                                        <span class="fa fa-map-marker"></span>
                                                        ${ele.address} - <b style="color: #0b3af4">Xem bản đồ</b>
                                                    </a>
                                                </div>
                                                <div class="lht-character" value-character="${ele.character}">
                                                </div>
                                                <div class="bonus-charact">
                                                    <div>
                                                        <span class="fa fa-star checked" style="color: white;"></span>
                                                    </div>
                                                    <div>Ngày nhận và trả phòng</div>
                                                </div>
                                                <div style="margin-top: 6px;font-weight:600;font-size:18px">
                                                    Tên người
                                                    đặt - SDT - email
                                                </div>

                                                <!--TRẠNG THÁI -->
                                                <div style="margin-top: 6px">
                                                    <button class="btn btn-primary">Chờ xác nhận</button>
                                                </div>
                                            </div>
                                            <div class="lht-price">
                                                <div id="status_room" value-status-room="${ele.status}">
                                                    <div class="lht-price-detail" id="huy">Tổng tiền VND</div>
                                                    <div class="type_room">
                                                        <div>
                                                            <p style="font-weight:bold">Mã đặt phòng</p>
                                                            <p>abcxyz</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-daxacnhan" role="tabpanel" aria-labelledby="daxacnhan">
                                <div class="list-hotel">
                                    <div class="lht-item" namePlace="${ele.id}">
                                        <div class="lht-main">
                                            <div class="lht-img">
                                                <div class="lht-img-img"
                                                     style="background-image:url('${ele.img_hotel}')"></div>
                                            </div>
                                            <div class="lht-content">
                                                <p class="lht-name">Tên khách sạn</p>
                                                <div class="lht-content_rate">
                                                    <div class="lht-content_rate_star">

                                                    </div>

                                                    <div class="lht-content_rate_mark">
                                                        <p style="margin-right: 5px">Tên phòng</p>
                                                    </div>
                                                </div>
                                                <div class="lht-direct">
                                                    <a href="">
                                                        <span class="fa fa-map-marker"></span>
                                                        ${ele.address} - <b style="color: #0b3af4">Xem bản đồ</b>
                                                    </a>
                                                </div>
                                                <div class="lht-character" value-character="${ele.character}">
                                                </div>
                                                <div class="bonus-charact">
                                                    <div>
                                                        <span class="fa fa-star checked" style="color: white;"></span>
                                                    </div>
                                                    <div>Ngày nhận và trả phòng</div>
                                                </div>
                                                <div style="margin-top: 6px;font-weight:600;font-size:18px">
                                                    Tên người
                                                    đặt - SDT - email
                                                </div>

                                                <!--TRẠNG THÁI -->
                                                <div style="margin-top: 6px">
                                                    <button class="btn btn-warning">Đã xác nhận</button>
                                                </div>
                                            </div>
                                            <div class="lht-price">
                                                <div id="status_room" value-status-room="${ele.status}">
                                                    <div class="lht-price-detail" id="huy">Tổng tiền VND</div>
                                                    <div class="type_room">
                                                        <div>
                                                            <p style="font-weight:bold">Mã đặt phòng</p>
                                                            <p>abcxyz</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-hoanthanh" role="tabpanel" aria-labelledby="nav-hoanthanh-tab">
                                <div class="list-hotel">
                                    <div class="lht-item" namePlace="${ele.id}">
                                        <div class="lht-main">
                                            <div class="lht-img">
                                                <div class="lht-img-img"
                                                     style="background-image:url('${ele.img_hotel}')"></div>
                                            </div>
                                            <div class="lht-content">
                                                <p class="lht-name">Tên khách sạn</p>
                                                <div class="lht-content_rate">
                                                    <div class="lht-content_rate_star">

                                                    </div>

                                                    <div class="lht-content_rate_mark">
                                                        <p style="margin-right: 5px">Tên phòng</p>
                                                    </div>
                                                </div>
                                                <div class="lht-direct">
                                                    <a href="">
                                                        <span class="fa fa-map-marker"></span>
                                                        ${ele.address} - <b style="color: #0b3af4">Xem bản đồ</b>
                                                    </a>
                                                </div>
                                                <div class="lht-character" value-character="${ele.character}">
                                                </div>
                                                <div class="bonus-charact">
                                                    <div>
                                                        <span class="fa fa-star checked" style="color: white;"></span>
                                                    </div>
                                                    <div>Ngày nhận và trả phòng</div>
                                                </div>
                                                <div style="margin-top: 6px;font-weight:600;font-size:18px">
                                                    Tên người
                                                    đặt - SDT - email
                                                </div>

                                                <!--TRẠNG THÁI -->
                                                <div style="margin-top: 6px">
                                                    <button class="btn btn-success" style="padding: 6px !important" disabled>Thành công</button>
                                                    <button class="btn" style="background-color: #ff5722 !important;padding: 6px !important;color:white;margin-left: 4px;" data-toggle="modal" data-target="#exampleModal">Đánh giá</button>
                                                </div>
                                            </div>
                                            <div class="lht-price">
                                                <div id="status_room" value-status-room="${ele.status}">
                                                    <div class="lht-price-detail" id="huy">Tổng tiền VND</div>
                                                    <div class="type_room">
                                                        <div>
                                                            <p style="font-weight:bold">Mã đặt phòng</p>
                                                            <p>abcxyz</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-huy" role="tabpanel" aria-labelledby="nav-huy-tab">
                                <div class="list-hotel">
                                    <div class="lht-item" namePlace="${ele.id}">
                                        <div class="lht-main">
                                            <div class="lht-img">
                                                <div class="lht-img-img"
                                                     style="background-image:url('${ele.img_hotel}')"></div>
                                            </div>
                                            <div class="lht-content">
                                                <p class="lht-name">Tên khách sạn</p>
                                                <div class="lht-content_rate">
                                                    <div class="lht-content_rate_star">

                                                    </div>

                                                    <div class="lht-content_rate_mark">
                                                        <p style="margin-right: 5px">Tên phòng</p>
                                                    </div>
                                                </div>
                                                <div class="lht-direct">
                                                    <a href="">
                                                        <span class="fa fa-map-marker"></span>
                                                        ${ele.address} - <b style="color: #0b3af4">Xem bản đồ</b>
                                                    </a>
                                                </div>
                                                <div class="lht-character" value-character="${ele.character}">
                                                </div>
                                                <div class="bonus-charact">
                                                    <div>
                                                        <span class="fa fa-star checked" style="color: white;"></span>
                                                    </div>
                                                    <div>Ngày nhận và trả phòng</div>
                                                </div>
                                                <div style="margin-top: 6px;font-weight:600;font-size:18px">
                                                    Tên người
                                                    đặt - SDT - email
                                                </div>

                                                <!--TRẠNG THÁI -->
                                                <div style="margin-top: 6px">
                                                    <button class="btn btn-default">Hủy phòng</button>
                                                </div>
                                            </div>
                                            <div class="lht-price">
                                                <div id="status_room" value-status-room="${ele.status}">
                                                    <div class="lht-price-detail" id="huy">Tổng tiền VND</div>
                                                    <div class="type_room">
                                                        <div>
                                                            <p style="font-weight:bold">Mã đặt phòng</p>
                                                            <p>abcxyz</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/js/profile.js"></script>