
@{ Layout = null;}

<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title> Quên mật khẩu </title>
    <link href="~/Content/assets/css/style1.css" rel="stylesheet" />

</head>

<body>
    <a href="index"><img class="logoImg" src="" style="width:325px;height:70px"></a>

    <div class="container" id="container">
        <div th:if="${Token}" class="form-container sign-in-container">
            <form action="" method="POST" onsubmit="check_pass(event)">
                <h2 class="headerLogin">Cập nhật mật khẩu</h2>
                <input type="hidden" name="Token" th:value="${Token}" />
                <input id="password" name="newPassword" type="password" placeholder="Nhập mật khẩu mới" required minlength="8" maxlength="12">
                <input id="confirm_password" type="password" placeholder="Nhập lại mật khẩu mới" required minlength="8" maxlength="12">
                <span id="messageMatch"> </span>
                <button id="submitCreateNewPass" type="submit" name="submitCreateNewPass">Cập nhật mật khẩu mới</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 class="createPassTitle">Cập nhật lại mật khẩu</h1>
                    <b><p th:if="${message}" th:text="${message}" class="createPassIntroduction"></p></b>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
		$('#password, #confirm_password').on('keyup', function ()
		{
			if ($('#password').val() == $('#confirm_password').val())
			{
				$('#messageMatch').html('Mật khẩu trùng khớp').css('color', 'green');
			}
			else
			$('#messageMatch').html('Mật khẩu không khớp').css('color', 'red');
		});

		function check_pass(e) {
		if (document.getElementById('password').value == document.getElementById('confirm_password').value)
		{
        return true;
		}
		else
		{
		e.preventDefault();
		return false;
		}
		}
</script>

</html>